@import "nib"
@import "nib/vendor"
@import "normalize.styl"

vendor-prefixes = o ms moz webkit official

body
  font-family: 'Sansita', sans-serif;
  background: darkgray;
body iframe
  position: absolute;
  width: 100vw;
  height: 100vh;

@keyframes animImgPerfil
	10%
		transform:translateX(3px) rotate(2deg)
	20%
		transform:translateX(-3px) rotate(-2deg)
	30%
		transform:translateX(3px) rotate(2deg)
	40%
		transform:translateX(-3px) rotate(-2deg)
	50%
		transform:translateX(2px) rotate(1deg)
	60%
		transform:translateX(-2px) rotate(-1deg)
	70%
		transform:translateX(2px) rotate(1deg)
	80%
		transform:translateX(-2px) rotate(-1deg)
	90%
		transform:translateX(1px) rotate(0)
	100%
		transform:translateX(-1px) rotate(0)

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?62h64s');
  src:  url('fonts/icomoon.eot?62h64s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?62h64s') format('truetype'),
    url('fonts/icomoon.woff?62h64s') format('woff'),
    url('fonts/icomoon.svg?62h64s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu nav ul li a
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: all .3s
  text-align: center;
.menu nav ul li a:hover
  color: #0099cc;
  animation-name: animImgPerfil;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
.menu nav ul li
  list-style: none;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
.menu nav ul
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
.menu
  width: 12vw;
  height: 100vh;
  background: rgba(0,0,0,.7);
  color: white;
  position: relative;
  float: left;
.menu nav ul li a i
  font-size: 2.5em;
.info
  position: fixed;
  right: 0;
  width: 10.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
.hora
  position: relative;
  background: rgba(0,0,0,.7);
  color: white;
  width 80%;
  text-align: center;
  font-size: 2em;
  border: 2px solid ;
.fecha
  width: 80%;
  background: rgba(0,0,0,.7);
  color: white;
  text-align: center;
  font-size: 2em;
  border: 2px solid;
  margin-top 4vh;
.fecha p
  margin: 0;
  font-size: 2.2em;
.info ul
  padding: 0;
  margin-top: 4vh;
  width: 80%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
.info ul li
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
.info ul li a
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration none;
  font-size: 1.5em;
  color: white;
  transition: all .4s;
.info ul li a:hover
  color: #0099cc;
  animation-name: animImgPerfil;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
.content
  width: 88vw;
  height: 100vh;
  position: relative;
  float: left;
  overflow-y: scroll;
.content article
  height: 100vh;
  width: 77.5vw;
  position: relative;
  float: left;
  margin-right: 10.5vw;
.scrollX
  width: 10000px;
  height: 100%;
  background: rgba(0,0,0,.5);
.home figure
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 30px white;
  background-repeat: norepeat;
  background-size: 100%;
  background-image: url(../assets/images/imgper.jpg);
.home figure:hover
  border: 2px solid #0099cc;
  box-shadow: 0 0 30px #0099cc;
  animation-name: animImgPerfil;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
.home
  color white;
  display: flex;
  align-items: center;
  justify-content: center;
.home-text
  width: 30vw;
.icon-home:before
  content: "\e903";
.icon-me:before
  content: "\e9e7";
.icon-resume:before
  content: "\e921";
.icon-skill:before
  content: "\e955";
.icon-project:before
  content: "\ea81";
.icon-blog:before
  content: "\e983";
.icon-contact:before
  content: "\ea84";
.icon-facebook:before
  content: "\ea90"
.icon-twitter:before
  content: "\ea96"
.icon-linkedin:before
  content: "\eaca"
.icon-github:before
  content: "\eab0"
